{# HTML5 declaration #}
{% load static %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
    {% block "content" %} {% endblock "content" %}
    {% if debug %}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    {% else %}
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    {% endif %}
</body>

</html>