{% extends "base.html" %}
{% load static %}

{% block "content" %}
<div id="app"></div>
<pre id="board"></pre>
<div>
    <form id="move-form">
        <input type="text" name="move" id="move-input">
    </form>
</div>
{% endblock "content" %}

{% block "custom_js" %}
<script src="{% static "components/message.js" %}"></script>
<script src="{% static "components/picker.js" %}"></script>
<script src="{% static "components/board.js" %}"></script>
<script src="{% static "components/app.js" %}"></script>

<script>
    ReactDOM.render(
        React.createElement(Game, { username: getCookie("username") }, null),
        document.getElementById("app")
    );

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(";");
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == " ") {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
{% endblock "custom_js" %}