{% extends "base.html" %}
{% load static %}

{% block "content" %}
<div id="app"></div>
<pre id="board"></pre>
<div>
    <form id="move-form">
        <input type="text" name="move" id="move-input">
    </form>
</div>
{% endblock "content" %}

{% block "custom_js" %}
<script src="{% static "components/message.js" %}"></script>
<script src="{% static "components/picker.js" %}"></script>
<script src="{% static "components/board.js" %}"></script>
<script src="{% static "components/app.js" %}"></script>

<script>
    ReactDOM.render(
        React.createElement(Game, {}, null),
        document.getElementById("app")
    );
</script>
{% endblock "custom_js" %}