.dot {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  display: inline-block;
}

.dot-hover:hover {
  background-color: rgba(246, 173, 85, var(--bg-opacity));
}

.leading-null {
  line-height: 0;
}
